
.color-card {
    flex-grow: 1;
    height: 100%;
    display: grid;
    place-items: center;
  }
  
  .color-card > button {
    user-select: none;
    border-radius: 50%;
    border: 0.2rem solid black;
    height: 90%;
    aspect-ratio: 1 / 1;
    font-size: 3em;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .color-card > button:hover {
    transform: translateY(-3rem) scale(1.5);
  }
  
  .color-card > button {
    background-color: var(--color, gray);
    
  }