.game {
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 2;
   grid-column-end: 4;
   user-select: none;
   display: flex;
   flex-direction: column;
   color: azure;
   -webkit-text-stroke: 4px black;
   font-weight: bolder;
   font-size: 6.5rem;
}
 .game div {
   font-size: 6.5rem;
 }
 .game p {
   padding-top: 3rem;
   margin: 0;
 }